$bg-color:#29B078;
html{font-size:625%;}
header{
  background-color:#fff;
  position:relative;
  top: 0;
  left: 0;
  right: 0;
  width:100%;

    .tele-share{
      height: .3rem;
      width:100%;
    }

    .tele{
      float:left;
      font-size: .1rem;
      font-weight:bold;
      color: #82D0B0;
      height:.3rem;
      line-height:.3rem;
    }

    .share {
      float: right;
      display:flex;
      align-items:center;
    }
}


.nav-bgColor{
     background-color:$bg-color;
}



footer{
  position: relative;
  bottom:0;
  left:0;
  right:0;
  width:100%;


.footerContainer{
  width:100%;
  background-color:$bg-color;

    & a{
      display:block;
    }


    .bottomBrand1{
      padding:.3rem;


   .b-title{
     font-size:.2rem;
     color:#fff;
     padding-bottom: .2rem;
   }

   .bb{               //技能树-改变你我
     display:flex;
     color:#fff;

     & div:nth-of-type(1){
       text-align: center;
       min-width:.6rem;

     }

     & div:nth-of-type(2){
       border-left:1px solid #fff;
       border-right:1px solid #fff;
       text-align: center;
       min-width:.8rem;
       padding:0 .05rem;
       margin:0 .05rem;

     }

     & div:nth-of-type(3){
       text-align: center;
       min-width:.6rem;

     }
   }


      .dd{            //旗下网站
        display:flex;

        & div{
          text-align: center;
          min-width:.124rem;
          padding-right: .4rem;
          & a{
            display:block;
            padding:.05rem 0;
            white-space: nowrap;
          }
        }
      }


}

.bottomBrand2{       //二维码部分
  height:1.7rem;

  .Qr{      //
    max-width:1.32rem;
    & div{
      color:#FFF;
      text-align: center;
    }

    & img{
      padding:.05rem .2rem .2rem .2rem;
      display: inline-block;
      height: auto;
      max-width: 100%;
    }
  }
}




}



  @media  (min-width: 768px) {
    .bottomBrand2 {
      display:flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
    .bottomBrand1{
      display:flex;
      flex-direction:column;
      justify-content:space-between;
      height:1.7rem;
    }
  }


  @media (max-width: 768px) {
    .bottomBrand2 {
      display:flex;
    }
  }



 .CopyRight{
   border-top:1px solid #5CD286;
   background-color:$bg-color;
   min-height: .3rem;


  & div{
  text-align:center;
  font-weight:bold;
  color:#5CD286;
  line-height:.3rem;

  & p{
    margin:0;
  }
}
 }
}