
a{
    color:#fff;
}

a:hover{
    color:#fff;
}



main{
    margin-bottom:2rem;
}


.items{
    min-height:3.7rem;
    margin:.08rem;
    border:1px solid #e2e2e2;
    background-color:#fff;
}

.first-line{
    height:1.46rem;
    display:flex;
    border-bottom:1px solid #e2e2e2;
}


.img-1{
    padding:.1rem;
}

.img-2{
    zoom:.9;
}



.paragraph{
    width:60%;
    padding:.1rem;
}

.paragraph-1{
    width:60%;
    padding:.1rem;
    font-size:.13rem;
}

.tleft{
    border-bottom:1px solid #e2e2e2;
    border-right:1px solid #e2e2e2;
}

.tright{
    border-bottom:1px solid #e2e2e2;
}


.ttop{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}


.tbottom{
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}


.half{
    width:50%;
    padding:.1rem;
}


.table-all{
    border:1px solid #e2e2e2;
    margin-top:.3rem;
    box-shadow:1px 1px 2px #000;
    border-radius:5px;
    position:relative;
    overflow:hidden;
}


table{
    background-color:#fff;
    width:100%;
    font-size:.12rem;
}

.table-1{
    width:70%;
    padding:.1rem;
}

.table-2{
    width:100%;
    padding:.1rem;
}




.table-hover{
    position:absolute;
    top:0;
    right:-97%;
    height:100%;
    width:100%;
    transition:all 0.5s ease;
    border-radius:5px;
}

.table-all:hover .table-hover{
    right:0;
    background-color:rgba(0,0,0,0.7);
}

.table-hover-1{
    height:30%;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    color:#fff;
}

.table-hover-2{
    text-align:center;
    color:#fff;
}


.word-0{
    margin-top:0;
    margin-bottom:0;
    height:.6rem;

}

.word-0-0{
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    border-bottom:1px solid #D0D6D9;
}
.word-1{
    color:#000000;
    font-size:.15rem;
    font-weight:bold;
}

.word-2{
    color: #82D0B0;
    font-weight:bold;
}
.word-1:hover{
    text-decoration: none;
    color:#000000;
}
.word-2:hover{
    text-decoration: none;
    color:#82D0B0;
}

.word-3{
    margin-top:0;
    margin-bottom:0;
    min-height:.5rem;
}



.word-3-0{
    height:100%;
    width:100%;
    border-bottom:1px solid #EDF1F2;
}

.word-3-1{
    background-color:#29B078;
    color:#fff;
    padding:0;
    width:30px;

}

.word-4{
    color: #82D0B0;
    margin:0 .18rem;
    min-width:57px;
}

.word-4:hover{
    text-decoration: none;
    background-color:#29B078;
    color:#fff;
}






