html {
  font-size: 625%; }
body{
  background-color:#fafafa;
}

a{
    color:#fff;
}

a:hover{
    color:#fff;
}

header {
  background-color: #fff;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%; }
  header .tele-share {
    height: .3rem;
    width: 100%; }
  header .tele {
    float: left;
    font-size: .1rem;
    font-weight: bold;
    color: #82D0B0;
    height: .3rem;
    line-height: .3rem; }
  header .share {
    float: right;
    display: flex;
    align-items: center; }
    header .share a {
      margin: .05rem; }
      header .share a img {
        width: .18rem;
        height: .18rem; }

.nav-bgColor {
  background-color: #29B078; }

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%; }
  footer .footerContainer {
    width: 100%;
    background-color: #29B078; }
    footer .footerContainer a {
      display: block; }
    footer .footerContainer .bottomBrand1 {
      padding: .3rem; }
      footer .footerContainer .bottomBrand1 .b-title {
        font-size: .2rem;
        color: #fff;
        padding-bottom: .2rem; }
      footer .footerContainer .bottomBrand1 .bb {
        display: flex;
        color: #fff; }
        footer .footerContainer .bottomBrand1 .bb div:nth-of-type(1) {
          text-align: center;
          min-width: .6rem; }
        footer .footerContainer .bottomBrand1 .bb div:nth-of-type(2) {
          border-left: 1px solid #fff;
          border-right: 1px solid #fff;
          text-align: center;
          min-width: .8rem;
          padding: 0 .05rem;
          margin: 0 .05rem; }
        footer .footerContainer .bottomBrand1 .bb div:nth-of-type(3) {
          text-align: center;
          min-width: .6rem; }
      footer .footerContainer .bottomBrand1 .dd {
        display: flex; }
        footer .footerContainer .bottomBrand1 .dd div {
          text-align: center;
          min-width: .124rem;
          padding-right: .4rem; }
          footer .footerContainer .bottomBrand1 .dd div a {
            display: block;
            padding: .05rem 0;
            white-space: nowrap; }
    footer .footerContainer .bottomBrand2 {
      height: 1.7rem; }
      footer .footerContainer .bottomBrand2 .Qr {
        max-width: 1.32rem; }
        footer .footerContainer .bottomBrand2 .Qr div {
          color: #FFF;
          text-align: center; }
        footer .footerContainer .bottomBrand2 .Qr img {
          padding: .05rem .2rem .2rem .2rem;
          display: inline-block;
          height: auto;
          max-width: 100%; }
  @media (min-width: 768px) {
    footer .bottomBrand2 {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end; }
    footer .bottomBrand1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 1.7rem; } }
  @media (max-width: 768px) {
    footer .bottomBrand2 {
      display: flex; } }
  footer .CopyRight {
    border-top: 1px solid #5CD286;
    background-color: #29B078;
    min-height: .3rem; }
    footer .CopyRight div {
      text-align: center;
      font-weight: bold;
      color: #5CD286;
      line-height: .3rem; }
      footer .CopyRight div p {
        margin: 0; }

/*# sourceMappingURL=common.css.map */


.img-self-adapt {
  display: inline-block;
  max-width: 100%;
  height: auto; }
