
main{
    margin-bottom:2rem;
}





.left-list-item>a{
    color: #29B078;
}

.left-list-item>a:hover{
    color: #FF650E;
    text-decoration: none;
}



.left-list-title {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    display: block;
    text-align:center;
    margin-bottom: -1px;
    background-color: #fff;
    height:.5rem;
    line-height:.5rem;
    border-bottom:2px solid #ddd;
    font-weight:bold;
}
.left-list-item{
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    height:.5rem;
    font-weight:bold;

}

.left-list-item-1{
    width:100%;
    height:.5rem;
    line-height:.5rem;
    padding-left:50%;
    position:relative;
}
.left-list-item-2 {
    display:flex;
    align-items:center;
    position:relative;
    left:-38px;
}

.left-list-item-last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom:1px solid #ddd;
}

.little-cir{
    width:10px;
    height:10px;
    border-radius:50%;
    border:2px solid #FF650E;
    background-color:#fff;
    margin-right:.05rem;
}

.left-list-item:hover .little-cir{
    width:10px;
    height:10px;
    border-radius:50%;
    border:2px solid #FF650E;
    background-color:#FF650E;
    margin-right:.05rem;
}



.paragraph{
    display:flex;
    width:100%;
    border-bottom:2px solid #ddd;
}

.img-1{
    flex:0 0 33.3%;
    min-height:1.6rem;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.paragraph-1{
    margin:0;
    padding:.3rem .2rem;
    color:#999;
    font-size:.17rem;
    line-height:.2rem;
}

.paragraph-2{
    margin:0;
    padding:.3rem .5rem;
    color:#999;
    font-size:.17rem;
    line-height:.2rem;
}










