* {
    box-sizing: border-box; }

html, body, form {
    margin: 0; padding: 0; }

html {
    overflow: auto;
    font-size: 625%; }


a {
    text-decoration: none; }

a:active, a:hover {
    text-decoration: none; }

dl, ul, ol, menu, li {
    list-style: none; }

.head{
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 3px 10px;
    height: 46px;
    background-color: #29BDE0; }
.head p {
    margin: 0 .8rem;
    padding: 0;
    line-height: 46px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    white-space: nowrap; }
